{{ define "main" }}
<div class="landing-page">
    <h1 class="logo"><span class="primary">No Gambling,</span><br><span class="secondary">Just Fun</span></h1>
    <blockquote>
        <p>Predict results of upcoming games, show your friends who knows football best.</p>
    </blockquote>
    <a href="/authenticate">
        Get Started
    </a>
</div>
{{end}}