{{ define "main"}}
<div class="fixtures-grid">
    {{if .Fixtures}}
    {{ range .Fixtures }}
    <div class="fixture-container">
        <div class="top">
            <span class="date">{{ humanDate .Fixture.Date }}</span>
            <span class="status">{{ .Fixture.Status.Short }}</span>
        </div>
        <div class="main">
            <div class="fixture">
                <div class={{ customClasses "team" "winner" .Teams.Home.Winner }}>
                    <div class="info">
                        <img class="badge" src={{ .Teams.Home.Logo }} alt="/ui/static/img/badge.svg" />
                        <div>{{ .Teams.Home.Name }}</div>
                    </div>
                    <div class="goals">
                    {{ if gameStarted .Fixture.Status.Short}}
                        <span>{{ .Goals.Home }}</span>
                        <span>{{ if .Score.Penalty.Home}}({{.Score.Penalty.Home}}){{end}}</span>
                    {{end}}
                    </div>
                </div>
                <div class={{ customClasses "team" "winner" .Teams.Away.Winner }}>
                    <div class="info">
                    <img class="badge" src={{ .Teams.Away.Logo }} alt="/ui/static/img/badge.svg" />
                    <div>{{ .Teams.Away.Name }}</div> 
                    </div>
                    <div class="goals">
                    {{ if gameStarted .Fixture.Status.Short }}
                        <span>{{ .Goals.Away }}</span>
                        <span>{{ if .Score.Penalty.Away}}({{.Score.Penalty.Away}}){{end}}</span>
                    {{end}}
                    </div>
                </div>
            </div>
            <div class="facto">
                <div class="card">
                    <div class="label valid-background">FACTO</div>
                    <div class="result border-correct">
                        <span>1</span>
                        <span>2</span>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    {{end}}
    {{else}}
    <p>No matches found.</p>
    {{end}}
</div>
{{end}}