{{ define "main" }}
<dialog open>
    <h3 class="logo">Welcome to <span class="primary">FACT<span class="secondary">OS</span></span>!</h3>
    <form method="post">
        <fieldset>
            <label>Username: </label>
            <input type="text" name="Username" />
        </fieldset>  
        <button  type="submit">Sign up</button>
    </form>
</dialog>
{{end}}