.main {
	min-height: 100vh;
	width: 100vw;
	display: grid;
	/* grid-template-columns: 1fr 1fr; */
	column-gap: 1rem;
	position: relative;
	align-items: center;
	text-align: center;
	background-color: var(--black);
	.text_container {
		position: relative;
		h1 {
			
			font-size: 23rem;
			height: fit-content;
			/* background-color: var(--white); */
			letter-spacing: 0.75rem;
			/* text-shadow: 2px 2px 8px rgba(0, 0, 0, 1); */
			color: var(--primary);
			margin: 0;
			padding: 0;
			line-height: 1;
			font-family: var(--logo-font);
			position: relative;
		}
		p {
			position: relative;
			font-size: 2rem;
			color: var(--secondary);
		}
	}
	.image_container {
		position: relative;
		img {
			max-width: 20rem;
			border-radius: 5rem;
		}
	}
}