.main {
	min-height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	/* grid-template-columns: 1fr 1fr; */
	column-gap: 1rem;
	position: relative;
	align-items: center;
	text-align: center;
	background-color: var(--white);
  	background-image:
    repeating-linear-gradient(
      var(--light-gray) 0 1px,
      transparent 0px 100px
    ),
    repeating-linear-gradient(
      90deg,
      var(--light-gray) 0 1px,
      transparent 0px 100px
    );
  	/* background-size: 100px 100px; */
	.text_container {
		position: relative;
		width: inherit;

		h1 {
			font-size: 23rem;
			letter-spacing: 0.75rem;
			color: var(--primary);
			line-height: 1;
			font-family: var(--logo-font);
			display: flex;
			justify-content: center;
			background-color: var(--white);
			span {
				color: var(--secondary);
				line-height: 1;
				display: box;
			}
		}
		p {
			font-size: 2rem;
			position: absolute;
			color: var(--secondary);
			background-color: var(--white);
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.image_container {
		position: relative;
		img {
			max-width: 20rem;
			border-radius: 5rem;
		}
	}
}