{{define "fixture"}}
<div class="fixture-container">
    <div class="date">{{ .fixture.date }}</div>
    <div class="fixture">
        <div class="team">{{ .team.home.name }}</div>
        <div>VS</div>
        <div class="team">{{ .team.away.name }}</div>
    </div>
    <button class="facto-button">View <span class="logo">FACTOS</span></button>
</div>
{{end}}