<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Factos</title>
        <link rel="stylesheet" href="/ui/static/css/main.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap" rel="stylesheet">
    </head>
    <body>
        <dialog open>
            <h3>Welcome to <span class="logo primary">FACT<span class="secondary">OS</span></span>!</h3>
            <form method="post">
                <fieldset>
                    <label>Username: </label>
                    <input type="text" />
                </fieldset>  
                <button type="submit">Sign up</button>
            </form>
        </dialog>
    </body>
</html>