{{ define "nav" }}
<nav>
    <div>
        <h1 href="/"><a>Factos</a></h1>
    </div>
    <div class="links">
        <a href="/copa-america">Copa America 2024</a>
        <a href="/euro">Euro 2024</a>
    </div>
    <div>
        <a>Login</a>
    </div>
</nav>
{{end}}