{{ define "nav" }}
<nav class="main-nav">
    <div>
        <h1 class="logo"><a href="/"><span class="primary">FACT</span><span class="secondary">OS</span></a></h1>
    </div>
    <div class="links">
    {{ range .PinnedLeagues }}
        <a href="/results/{{ .ID }}/{{ .Season }}">{{ .Name }} {{ .Season }}</a>
    {{end}}
    </div>
    <div>
        {{ if .LoggedIn }}
            <form action='/logout' method='POST' novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
                <button type="submit">Logout</button>
            </form>
        {{ else }}
            <form action="/authenticate" method="GET">
                <button type="submit">Login with Google</button>
            </form>
        {{end}}
    </div>
</nav>
{{end}}