{{define "subnav"}}
<nav>
    <div>
        <a class="tournament" href="/euro">Euro 2024</a>
    </div>
    <div class="links">
        <a href="/euro/results">Results</a>
        <a href="/euro/upcoming"> Upcoming Matches</a>
        <a href="/euro/predictions">My Predictions</a>
    </div>
</nav>
{{ end }}