{{define "subnav"}}
<nav>
    <div class="links">
        <a href="/results/{{ .League.ID }}/{{ .League.Season }}">Results</a>
        <a href="/upcoming/{{ .League.ID }}/{{ .League.Season }}"> Upcoming Matches</a>
        <a href="/predictions/{{ .League.ID }}/{{ .League.Season }}">My Predictions</a>
    </div>
</nav>
{{ end }}