:root {
    --white:#F0EDEE;
    --gray: #67697C;
    --black: #413054;
    --primary: #298cfe;
    --secondary: #e9008b;
    --green: #53DD6C;
    --red: #EF2D56;
    --gold: #FFD700;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans Condensed", sans-serif
}

html, body {
    height: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
}

main {
    min-height: calc(100vh - 345px);
    margin-top: 10px;
    margin-bottom: 50px;
    position: relative;
}

nav, main, footer {
    padding: 2px calc((100% - 992px) / 2) 0;
}

@media screen and (max-width: 1000px) {
    nav, main, footer {
        padding: 2px calc((100% - 800px) / 2) 0;
    }
}

h1 {
    font-size: 32px !important;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--black);
}

a:hover {
    color: var(--secondary);
}

nav {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    .links a {
        margin-right: 1em;
    }
    box-shadow: 0px 1px 2px var(--black);
}

.main-nav {
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    a {
        color: var(--white);
    }
    a:hover {
        color: var(--primary);
    }
    box-shadow: none;
}

.primary {
    color: var(--primary) !important;
}

.secondary {
    color: var(--secondary) !important;
}

.valid {
    color: var(--green) !important;
}

.error {
    color: var(--red) !important;
}
.white {
    color: var(--white) !important;
}
.primary-background {
    background-color: var(--primary) !important;
}
.secondary-background {
    background-color: var(--secondary) !important;
}
.valid-background {
    background-color: var(--green) !important;
}
.error-background {
    background-color: var(--red) !important;
}
.gold-background {
    background-color: var(--gold) !important;
}
.black-background {
    background-color: var(--black) !important;
}

button {
    text-decoration: none;
    box-decoration-break: none;
    width: fit-content;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em;
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
}

button:hover{
    background-color: var(--secondary);
    transform: scale(1.05);
}

button.invisible {
    background: transparent;
    padding: 0em;
    color: var(--gray);
    font-weight: 600;
}

button.invisible:hover {
    color: var(--red);
}

.landing-page {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: absolute;
    height: 100%;
    justify-content: center;
}

.fixture-container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    row-gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 1px var(--black);
    background-color: #ffffff;
    color: var(--black);
    padding: 10px 10px;
    position: relative;
    .top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .status {
            text-align: right;
            align-content: center;
        }
        .live-dot {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: var(--green);
            display: inline-block;
            margin-left: 3px;
            animation: 3s linear 1s infinite alternate slidein;
        }
    }
    .main {
        display: grid;
        grid-template-columns: 4fr 1fr;
        .fixture {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            row-gap: 7px;
            padding-right: 5px;
            align-items: center;
            max-height: 88px;
            .team {
                display: flex;
                align-items: center;
                justify-content: space-between;
                align-content: center;
                column-gap: 5px;
                .info {
                    display: flex;
                    column-gap: 5px;
                    .badge {
                        width: 24px;
                    }
                }
                .goals {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 3px;
                }
            }
            .winner {
                font-weight: bold;
            }
        }
        .facto {
            display: flex;
            padding-left: 5px;
            border-left: solid 1px var(--white);
            form {
                display: grid;
                grid-template-rows: 3fr 1fr;
                row-gap: 7px;
                .fields {
                    display: grid;
                    grid-template-rows: repeat(2, 1fr);
                    row-gap: 7px;
                    min-height: 88px;
                    .team {
                        display: flex;
                        justify-content: flex-end;
                        column-gap: 7px;
                        align-items: center;
                        input{
                            text-align: end;

                        }
                        fieldset {
                            display: flex;
                            border: none;
                        }
                    }
                    input {
                        width: 30px;
                    }  
                }
                .submit {
                    display: flex;
                    justify-content: flex-end;
                    button {
                        padding: 0 0.5em !important;
                        margin-left: 5px;
                    }
                }
            }
            .card {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                cursor: pointer;
                width: 90.77px;
                .result {
                    display: grid;
                    grid-template-rows: repeat(2, 1fr);
                    row-gap: 10px;
                    align-items: center;
                    border-bottom-right-radius: 10px;
                    border-top-right-radius: 10px;
                    padding: 0 1.2em;
                    border-bottom: solid 1px var(--white);
                    border-right: solid 1px var(--white);
                    border-top: solid 1px var(--white);
                    color: var(--black);
                    font-weight: bold;
                }
                .border-wrong {
                    border-bottom: solid 1px var(--red);
                    border-right: solid 1px var(--red);
                    border-top: solid 1px var(--red);
                }
                .border-correct {
                    border-bottom: solid 1px var(--green);
                    border-right: solid 1px var(--green);
                    border-top: solid 1px var(--green);
                }
                .border-facto {
                    border-bottom: solid 1px var(--gold);
                    border-right: solid 1px var(--gold);
                    border-top: solid 1px var(--gold);
                }
                .label {
                    writing-mode: tb-rl;
                    transform: rotate(-180deg);
                    padding: 0.5em 0.5em;
                    background-color: var(--white);
                    color: var(--gray);
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    font-weight: bold;
                    text-align: center;
                }
            }
            .card:hover{
                transform: scale(1.05);
            }
        }
    }
}

.fixtures-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 5px;
}

.logo {
    font-weight: bold;
    .secondary {
       font-style: italic; 
    }
    .secondary:hover{
        font-style: normal;
    }

    .primary:hover {
        font-style: italic;
    }
}

.facto-button {
    padding: 0em 1em;
}



footer {
    height: 60px;
    text-align: center;
}

input {
    border: none;
    border-radius: 0.5rem;
    background-color: #ffffff;
    border: 1px solid var(--gray);
    padding: 1rem 1rem;
    font-size: 18px;
}

input:focus {
    outline: 1px solid var(--primary);
}

dialog {
    border: none;
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    border-radius: 10px;
    padding: 1em;
    width: 300px;
    box-shadow: 1px 1px 1px var(--black);
    header {
        padding-bottom: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    form {
        display: grid;
        grid-template-columns: 1fr;
    }
    fieldset {
        border: none;
        display: flex;
        flex-direction: column;
    }
    fieldset.horizontal {
        display: flex;
        border: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5em;
    }

    input {
        text-align: right;
    }
    input[type="checkbox"] {
        border-style: none;
        outline: none;
        /* width: fit-content; */
    }
    input.goals-new-facto { 
        width: 50px;
        height: 10px;
    }
    footer {
        display: flex;
        justify-content: end;
        column-gap: 10px;
        padding-top: 1em;
        button {
            padding: 1rem;
        }
    }
}

dialog::backdrop {
    background-color: rgba(65, 48, 84, 0.7);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
